* {
    padding: 0%;
    margin: 0%;
    font: 1em sans-serif !important;
}

.new-task-button {
    position: fixed;
    bottom: 0%;
    right: 0%;
    padding: 10px;
    z-index: 3;
    width: 100%;
}

body {
    background-color: #373e98 !important;
}


.modal-body,
.modal-footer,
.modal-header {
    background-color: #373e98 !important;
    color: white;
}

button {
    background-color: #fee36e !important;
}

.btn-close {
    background-color: transparent !important;
}

.btn {
    color: black !important;
    outline: none !important;
}

@media (min-width: 993px) {
    .new-task-button {
        display: none;
    }
}